# Database (Prisma SQLite)
DATABASE_URL="file:./dev.db"

# JWT Authentication
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="7d"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nxvprwogwfzvdjtervxu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_AwuIahiWXy3YKPyjmeBbHQ_RFV4RUXV